body {
    color: #2222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
a:hover {
  color: black ;
  background-color: #FFED23;
}
.masthead-heading,
.masthead-intro {
  text-align: center;
   text-shadow: 1px 1px 1px #000, 4px 4px 5px #383838 ;  
}
.masthead {
  padding: 6em 0;
  background-image:   url('https://images.unsplash.com/3/alejandroescamilla-book.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&s=2f30669b115c3799e5524177715afa19');
  background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #FAE1C8;
}
.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}
.masthead-heading {
    margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
}
@media only screen and (max-width: 500px) {
    .masthead-heading {
        font-size: 3em;
    }
    .masthead-heading {
        font-size: 3em;
    }
}
.introduction-section,
.location-section,
.questions-section{
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}
h2 {
  color: #BF3422;
}
.content-footer {
    text-align: center;
    background-color: #BF3422;
}
.social {
  padding-left: 0;
}
.social > li {
    display: inline-block;
}
.content-footer > p {
    color: black;
}